.billing-section-title {
    width: 80px;
    letter-spacing: 6px;
    color: var(--darkGreen);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.billing-container {
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    padding: 24px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.standard-label {
    font-size: 14px;
    color: var(--darkGreen);
    margin-bottom: 4px;
    font-weight: 600;
}

.standard-input {
    color: var(--darkGreen);
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    text-align: right;
    background-color: var(--lightGreen);
    border: none;
    border-radius: 4px;
}

.standard-input-indicator {
    position: absolute;
    bottom: 8px;
    left: 12px;
    color: var(--darkGreen);
    font-weight: 600;
}

/* ---- Tip Options ---- */
.tip-options-container {
    margin-top: 24px;
    margin-bottom: 24px;
}

.tip-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
    column-gap: 12px;
}

.tip-options button, .calculate-billing {
    font-size: 20px;
    color: var(--white);
    font-weight: 600;
    border-radius: 4px;
    border: none;
    background-color: var(--darkGreen);
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

.tip-options button.selected {
    background-color: var(--mediumGreen);
    color: var(--darkGreen);
}

.calculate-billing {
    width: 100%;
    margin-top: 24px;
}

/* Billing result container */
.billing-result-container {
    margin-top: 24px;
    background-color: var(--darkGreen);
    padding: 24px;
    border-radius: 16px;
}

.billing-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.billing-result:first-child {
    margin-bottom: 24px;
}

.billing-result-heading {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}

.billing-result-sub-heading {
    color: var(--mediumGreen);
    font-size: 12px;
    font-weight: 600;
}

.billing-result-number {
    font-size: 20px;
    color: var(--lightGreen);
}

/* Stats */
.stats-title-container{
    margin-top: 40px;
    margin-bottom: 40px;
   display: flex;
   justify-content: center;
}
.avg-form{
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    padding: 24px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.avg-result-container{
    background-color: var(--darkGreen);
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 6px;
    margin-top: 6px;
}
.avg-title-content{
    margin-bottom: 12px;
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
}
.avg-result-content{
    color: var(--lightGreen);
    font-size: 18px;
    font-weight: 600;
}
/* History */

.history-section{
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    padding: 24px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.history-of-payments-title{
    color: var(--darkGreen);
    margin-top: 24px;
  
}
.history-of-payments-list{
    color: var(--lightGreen);
    margin-top: 16px;
    font-weight: 700;
   
}
.display-history{
    display:block;
}
.do-not-display-history{
    display:none;
}
.stats-title{
    color: var(--darkGreen);
}
ul{
    padding-left: 16px;
}
.history-form{
    display:grid;
    grid-template-columns: 1fr;
}
.history-form .avg-title-content{
    font-size: 16px;
    margin-bottom: 4px;
}
.history-form .avg-title-content:last-of-type{
    margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
    .billing-container {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
    .billing-form {
        width: 50%;
    }
    .billing-result-container {
        width: calc(50% - 48px);
        margin-top: 0px;
    }
    .avg-form{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .avg-result-container{
        width: 150px;
    }
    .history-form{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .tip-options {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .avg-result-container{
        width: 220px;
    }
}
